# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
env/
venv/

# Git
.git/
.gitignore

# IDE / OS
.vscode/
.idea/
.DS_Store

# Local artifacts
workflow_graph.png
README.md~
